<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss,SSS} %p  %c{1} %t %m %ex%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingRandomAccessFile name="ErrorLog"
                                 fileName="log/iticrawler_error.log" filePattern="log/iticrawler_error_%d{MM-dd-yyyy}_%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss,SSS} %p %c{1} %t %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="CrawlLog"
                                 fileName="log/iticrawler.log" filePattern="log/iticrawler_%d{MM-dd-yyyy}_%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss,SSS} %p  %c{1} %t %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>


    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"></AppenderRef>
            <AppenderRef ref="ErrorLog"></AppenderRef>
            <AppenderRef ref="CrawlLog"></AppenderRef>

        </Root>
    </Loggers>


</Configuration>